<div id="itemsContainer">
  <h1>Thank You<br>
    You have just placed an order</h1>
</div>
<table id="customers">
  <tr>
    <% @orders.limit(1).order(id: :desc).each do |order| %>
      <td>Your order reference is <%= order.id %></td>
    <% end %>
  </tr>
</table>
<div>

  <table id="customers">
    <% @total = 0 %>
    <% @orderitems.each do |id,quantity| %>
      <tr>
        <% item = Orderitem.find_by_id(id) %>
        <td><%= item.productname %></td>
        <td><%= item.quantity %></td>
        <td><%=number_to_currency(item.price, :unit => "€")%></td>
        <td><%= number_to_currency(item.quantity * item.price, :unit => "€") %></td>
      </tr>
    <% timx = (item.quantity * item.price)%>
    <% @total += timx %>

    </tr>
  <% end %>


  <tr>

    <td>Order Total: &euro; <%= @total %></td>
    <% shipping = 30 %>
    <% @overall = shipping + @total%>
    <tr>
      <td>Shipping &euro;10</td>
      <td>Order Total &euro; <%= @overall %></td>
    </tr>
    </table>
    <br>
  </div>
  <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_xclick">
      <input type="hidden" name="business" value="conor.dixon@gmail.com">
      <input type="hidden" name="item_name" value="Order Number <%= @order_id %>">
      <input type="hidden" name="currency_code" value="EUR">
      <input type="hidden" name="amount" value="<%= @overall %>">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif"
             name="submit" alt="Make payments with PayPal - it's fast, free and secure!">
      <input type="hidden" name="return" value="https://railswebstore.herokuapp.com/confirmation/<%= @order.id %>" >
      <input type="hidden" name="notify_url" value="https://railswebstore.herokuapp.com/paymentconfirmation/<%= @order.id %>" >
  </form>
