<p id="notice"><%= notice %></p>

<h1>ProductItems</h1>

<table>
  <thead>
  <tr>
    <th>Productname</th>
    <th>Description</th>
    <th>Price</th>
    <th>Brand</th>
    <th colspan="3"></th>
  </tr>
  </thead>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @productitem.each do |productitem| %>
      <tr>
        <td><%= productitem.productname %></td>
        <td><%= productitem.description %></td>
        <td><%= productitem.price %></td>
        <td><%= productitem.brand %></td>
        <td><%= link_to 'Show', productitem %></td>
        <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_productitem_path(productitem)%></td>
        <td><%= link_to 'Destroy', productitem, method: :delete, data: { confirm: 'Are you sure?' }%></td>
        <% end %>
        <% if user_signed_in? %>
        <td><a href="/cart/<%= productitem.id %>" class="button">Add To Cart</a></td>
        <% end %>
      </tr>
      <% end %>
      <ul>
      <li><%= link_to "Home", "home#index" %></li>
      </ul>
  </tbody>
</table>
<br>
  <%= link_to 'New Productitem', new_productitem_path %>