<p id="notice"><%= notice %></p>
</p>
<p>
  <strong>Product Name:</strong>
  <%= @productitem.productname %>
</p>

<p>
  <strong>Description:</strong>
  <%= @productitem.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @productitem.price %>
</p>

<p>
  <strong>Brand:</strong>
  <%= @productitem.brand %>
</p>
<% if current_user.admin? %>
<%= render 'form', productitem: @productitem %>
<%= link_to 'Edit', edit_productitem_path(@productitem) %> |
<% end %>
<%= link_to 'Back', productitems_path %>