<header class="headSec">
  <ul>

  <% if session[:login] == 1 %>
  <% end %>
  <% if user_signed_in? %>
    <li><a href="#">Hello <%= current_user.email %></a></li>
    <li><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
    <li><a <%= link_to 'Edit Profile', edit_user_registration_path, :class => 'navbar-link' %>
    <li><%= link_to "View Cart", "/cart" %></li>
    <li><%= link_to "View Orders", orders_path %></li>
  <% else %>
    <li><%= link_to 'Register Account', new_user_registration_path %></li>
    <li><%= link_to 'Login', new_user_session_path %></li>
  <% end %>
  </ul>
</header>
