<!DOCTYPE html>
<html>
<title><%= yield (:title) %> RailsWebStore</title>
  <%= render 'layouts/header' %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <body>
  <div class="container">
  <%= yield %>
  </div>
  </body>
  <%= render 'layouts/footer' %>
</html>
